/* Resetting some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    margin: 0;
    height: 100%;
  }
  /* Body and Typography */
  body {
    flex-direction: column;
    font-family: Georgia, Verdana, serif;
    line-height: 1.6;
    color: #eeeeee; /* Light text for readability */
    padding: 0 500px 0 500px;
    margin: 0;
    height: 100%;
    background-image: linear-gradient(#aaaaaa,#000000);
  }
  
  /* Headings */
  h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #eeeeee; /* White */
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #eeeeee; /* Light gray */
    margin-bottom: 0.8rem;
  }

  h3 {
    font-size: 1rem;
    font-weight: bold;
    color: #eeeeee; /* Slightly darker gray */
    margin-bottom: 0.6rem;
  }
  
  button {
    color: #eeeeee;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    color: #eeeeee; /* Change text color on hover */
    text-shadow: 0 0 3px #fcfeff; /* Glow effect */
  }
  
  /* Header Styles */
  header {
    padding: 20px 0;
    text-align: center;
    display: flex;
    align-items: center; /* Ensures vertical alignment */
  }
  
  header h1 {
    font-size: 2.5rem;
  }

  header img {
    width: 16vh;
    height: 10vh;
  }
  
  nav {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    width: 100%;
    text-align: center;
  }

  nav ul {
      display: flex;
      list-style: none;
      padding: 0;
  }

  nav ul li {
      margin: 0 15px; /* Space between items */
  }

  nav a {
    background-color: transparent;
    border: none;
    padding: 10px 10px;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    color: #eeeeee;
  }

  nav a:hover {
    color: #eeeeee; /* Change text color on hover */
    text-shadow: 0 0 3px #fcfeff; /* Glow effect */
  }
  
  /* Main Content Area */
  main {
    padding: 20px 0;
  }
  
  .banner {
    color: #eeeeee;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
  }
  
  /* Main Content */
  .main-content {
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
  }
  
  /* Footer Styles */
  footer {
    color: #eeeeee;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
  }